<div class="dropdown">
    <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
       aria-expanded="false">
        Похожие статьи
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for post in similar_posts %}
        {% if forloop.counter != 1 %}
        <li>
            <hr class="dropdown-divider">
        </li>
        {% endif %}
        <li><a class="dropdown-item" href="{{post.get_absolute_url}}">{{post}}</a></li>
        {% endfor %}
    </ul>
</div>