{% load blog_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:list' %}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropstart">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Data
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>Количество статей - {% total_posts %}</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    {% show_latest_posts %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    Топ самых комментируемых статей:
                    {% show_most_comment_posts as most_comment_posts %}
                    {% for post in most_comment_posts %}
                    <li><a class="dropdown-item" href="{{post.get_absolute_url}}">{{post}} - {{post.total_comments}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:post_feed' %}">RSS</a>
            </li>
            <form class="d-flex" action="{% url 'blog:list_by_search' %}" method="GET">
                <input class="form-control me-2" name="query" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </ul>
    </div>
</nav>